body {
  margin: 0;
  box-sizing: border-box;
}

figure,
h1,
h2,
h3 {
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

@media (orientation: landscape) {
  p,
  div,
  span,
  details {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (orientation: portrait) {
  p,
  div,
  span,
  details {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 1.01rem;
  }
  h1 {
    font-size: 1.4rem;
  }
}
