body {
  margin: 0;
}

figure,
h1,
h2,
h3 {
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

body > * {
  font-size: 1.1rem;
}

@media (orientation: landscape) {
  h3 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (orientation: portrait) {
  h3 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
}
