body {
  margin: 0;
  box-sizing: border-box;
}

figure,
h1,
h2,
h3 {
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

@media (orientation: landscape) {
  p,
  div,
  span,
  details {
    font-size: 1.25vw;
  }
  h2,
  h3 {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 3vw;
  }
}

@media (orientation: portrait) {
  p,
  div,
  span,
  details {
    font-size: 2vw;
  }
  h2,
  h3 {
    font-size: 2.25vw;
  }
  h1 {
    font-size: 5vw;
  }
}
