body {
  margin: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  font-family: sans-serif, system-ui;
}

figure {
  margin: 0;
  display: inline-block;
  height: 100%;
  width: 100%;

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (orientation: landscape) {
    img {
      height: 90vh;
    }
  }
  @media (orientation: portrait) {
    img {
      width: 90vw;
    }
  }
}

article {
  margin-top: 1rem;
}
main {
  font-size: 1.6rem;
  color: hsl(0, 100%, 50%);
}

details {
  margin: 1rem;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 6%);
}
details > p {
  margin: 0.75rem 1rem;
  border-top: 1px dotted hsl(0, 0%, 50%);
  padding-top: 0.75rem;
}

summary {
  color: hsl(0, 0%, 75%);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.4s;
}
summary:hover {
  color: hsl(0, 100%, 40%);
  cursor: pointer;
}

details li {
  margin-bottom: 0.8rem;
}
