body {
  margin: 1rem;
  color: white;
  background-color: black;
  font-family: sans-serif, system-ui;
}

figure {
  margin: 0;
  display: inline-block;
  height: 100%;
  width: 100%;

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

article {
  margin-top: 1rem;
}

main {
  font-size: 1.6rem;
  color: khaki;
}

details {
  margin: 1rem;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: #0f0f0f;
  transition: transform 0.5s;

  summary {
    color: khaki;
    font-size: 1.2rem;
  }
  summary:hover {
    color: orange;
    cursor: pointer;
  }
  p {
    margin-left: 1rem;
    border-top: 1px dashed grey;
    padding-top: 0.8rem;
  }
}
details:hover {
  transform: scale(101%);
}

@media (orientation: landscape) {
  img {
    height: 90vh;
  }
}
@media (orientation: portrait) {
  img {
    width: 90vw;
  }
}

li {
  margin-bottom: 0.8rem;
}
