body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  font-family: sans-serif, system-ui;
}

figure {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

@media (orientation: landscape) {
  body {
    margin: 2rem auto;
    width: 50dvw;
  }
  figure img {
    height: 86vh;
  }
}
@media (orientation: portrait) {
  body {
    margin: 1.5rem;
  }
  figure img {
    width: 90vw;
  }
}

main {
  font-size: 1.6rem;
  color: hsl(0, 100%, 40%);
}
li {
  margin-bottom: 0.5rem;
}

details {
  margin-bottom: 0.6rem;
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 6%);
}
details summary {
  color: hsl(0, 0%, 75%);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.4s;
}
summary:hover {
  color: hsl(0, 100%, 50%);
  cursor: pointer;
}
details[open] summary {
  color: hsl(0, 100%, 40%);
}
details p {
  margin: 0.75rem 1rem;
  border-top: 1px dotted hsl(0, 0%, 50%);
  padding-top: 0.75rem;
}
