main,
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border: 4px solid #2b2b2b;
  border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
  box-shadow: 0 0 30px rgba(44, 44, 44, 0.6);
  animation: aura 4s infinite ease-in-out;
}
@keyframes aura {
  0% {
    box-shadow: 0 0 50px rgba(55, 55, 55, 0.6);
  }
  50% {
    box-shadow: 0 0 40px rgba(55, 55, 55, 0.8), 0 0 30px rgba(55, 55, 55, 0.6);
  }
  100% {
    box-shadow: 0 0 50px rgba(55, 55, 55, 0.6);
  }
}

@media (orientation: landscape) {
  img {
    width: 40vh;
  }
}
@media (orientation: portrait) {
  img {
    width: 60vw;
  }
}

h1::after {
  content: " (Nishant)";
  font-style: italic;
  color: #6f6f6f;
}

article {
  margin: 1rem 0;
}
article::before {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  content: open-quote;
}
article::after {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  content: close-quote;
}

@media (orientation: landscape) {
  details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  summary {
    text-decoration: underline;
  }
  details li {
    margin-top: 1rem;
  }
  details h2 {
    display: inline;
  }
}
@media (orientation: portrait) {
  details {
    display: none;
    margin-top: 1rem;
  }
  summary {
    text-decoration: underline;
  }
  details li {
    margin-top: 1rem;
  }
  details h2 {
    display: inline;
  }
}
