body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  cursor: pointer;
}

q {
  margin: 1.75rem 0;
  line-height: 1.5rem;
  display: block;
}
q::before {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  content: open-quote;
}
q::after {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  content: close-quote;
}

footer {
  padding-top: 1rem;
  width: 100%;
  border-top: 1px dashed grey;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
}
li {
  color: #4795e1;
}
