html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, sans-serif;
  background-color: black;
  color: white;
}

figure {
  margin: 0;
}
img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section {
  margin: 1rem;
  border: 1px dotted darkgrey;
  padding: 2rem 3rem;
}

section > h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-decoration: underline;
}
section > ul {
  padding-left: 1.2rem;
}

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}

@media (orientation: landscape) {
  body {
    margin: 2rem;
  }

  img {
    height: 40vw;
    width: auto;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (orientation: portrait) {
  body {
    margin: 2rem 1rem;
  }

  img {
    height: auto;
    width: 80vw;
  }
}
