body {
  margin: 0;
}

header {
  padding: 1rem;
  box-shadow: 0px 4px 8px rgb(248, 52, 30);

  h1 {
    margin: 0;
    text-align: center;
  }
}

main {
  padding: 2rem 4rem;

  figure {
    margin: 0;
  }
  section {
    margin-top: 4vh;
    border-top: 1px dotted darkgrey;

    ul {
      padding-left: 1.2rem;
    }
  }
}
@media (orientation: landscape) {
  img {
    height: 80vh;
    width: auto;
  }
}
@media (orientation: portrait) {
  figure {
    display: flex;
    justify-content: space-around;
  }
  img {
    height: auto;
    width: 75vw;
  }
}

footer {
  h3 {
    margin: 0;
    border-top: 1px dashed darkgrey;
    border-bottom: 1px dashed darkgrey;
    padding: 0.6rem;
    text-align: center;
  }
  nav {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
