@media (prefers-color-scheme: light) {
    :root {
      accent-color: hsl(120, 100%, 25%);
      --input-color: hsl(0, 0%, 25%);
      --foreground-color: hsl(0, 0%, 0%);
    }
    button {
      color: hsl(0, 0%, 100%);
    }
    #search-button {
      background-color: hsl(122, 39%, 47%);
    }
    #search-button:hover {
      background-color: hsl(0, 78%, 72%);
    }
    #calculator {
      border: 4px solid hsl(120, 100%, 15%);
      background-color: hsl(0, 0%, 96%);
    }
    #calculator::backdrop {
      background-color: rgba(255, 255, 255, 80%);
    }
    #calculator > button:first-child {
      color: red;
      transition: color 0.4s;
    }
    #calculator > button:first-child:hover {
      color: var(--foreground-color);
    }
    #calculator h1 {
      border-bottom: 2px solid var(--foreground-color);
      color: hsl(120, 100%, 25%);
    }

    #calculator #first_num > input,
    #calculator #second_num > input {
      border: 1px solid var(--foreground-color);
    }
    #calculator #first_num > input:not(:placeholder-shown):valid,
    #calculator #second_num > input:not(:placeholder-shown):valid {
      border: 1px solid green;
    }
    #calculator #first_num > input:focus:not(:placeholder-shown):invalid,
    #calculator #second_num > input:focus:not(:placeholder-shown):invalid {
      border: 1px solid orange;
    }
    #calculator #first_num > input:not(:placeholder-shown):invalid,
    #calculator #second_num > input:not(:placeholder-shown):invalid {
      border: 1px solid red;
    }
    #calculator #operations button {
      background-color: hsl(147, 100%, 39%);
    }
    #calculator #operations button:hover {
      background-color: hsl(123, 100%, 34%);
    }
    #calculator #operations button:active {
      background-color: hsl(120, 61%, 34%);
    }
    #calculator #calculation_result {
      color: var(--foreground-color);
    }
    #calculator hr {
      background-color: var(--foreground-color);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      accent-color: hsl(120, 50%, 40%);
      --input-color: hsl(0, 0%, 75%);
      --foreground-color: hsl(0, 0%, 90%);
    }
    body {
      background-color: hsl(0, 0%, 10%);
      color: var(--foreground-color);
    }
    #search-button {
      background-color: hsl(122, 39%, 30%);
    }
    #search-button:hover {
      background-color: hsl(0, 78%, 60%);
    }
    #calculator {
      border: 4px solid hsl(120, 50%, 20%);
      background-color: hsl(0, 0%, 4%);
    }
    #calculator::backdrop {
      background-color: rgba(0, 0, 0, 90%);
    }
    #calculator > button:first-child {
      color: red;
      transition: color 0.4s;
    }
    #calculator > button:first-child:hover {
      color: var(--foreground-color);
    }
    #calculator h1 {
      border-bottom: 2px solid var(--foreground-color);
      color: hsl(120, 50%, 50%);
    }

    #calculator #first_num > input,
    #calculator #second_num > input {
      border: 1px solid var(--foreground-color);
    }
    #calculator #first_num > input:not(:placeholder-shown):valid,
    #calculator #second_num > input:not(:placeholder-shown):valid {
      border: 1px solid green;
    }
    #calculator #first_num > input:focus:not(:placeholder-shown):invalid,
    #calculator #second_num > input:focus:not(:placeholder-shown):invalid {
      border: 1px solid orange;
    }
    #calculator #first_num > input:not(:placeholder-shown):invalid,
    #calculator #second_num > input:not(:placeholder-shown):invalid {
      border: 1px solid red;
    }
    #calculator #operations button {
      color: var(--foreground-color);
      background-color: hsl(147, 100%, 25%);
    }
    #calculator #operations button:hover {
      background-color: hsl(123, 100%, 20%);
    }
    #calculator #operations button:active {
      background-color: hsl(120, 61%, 20%);
    }
    #calculator #calculation_result {
      color: var(--foreground-color);
    }
    #calculator hr {
      background-color: var(--foreground-color);
    }
  }
  